@font-face {
    font-family: 'Nunito';
    src: url('nunito-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

html {
    background-color: #000000;
}

body {
    font-family: "Nunito", sans-serif;
    background-image: url(cocacola.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    font-size: 130%;
    user-select: none;
}

.list-group-item {
    --bs-list-group-bg: rgba(0, 0, 0, 0.1);
    --bs-list-group-color: #ffffff;
    --bs-list-group-border-width: 0;
}

.fast-fade {
    transition: background-color 0.4s;
}

.list-group {
    max-height: 380px;
    overflow-y: scroll;
    backdrop-filter: blur(10px);
    transition: filter 0.4s;
}

.active {
    transition: 0s;
}

.list-group::-webkit-scrollbar {
    width: 0;
}

.inactive {
    transition: 3s;
    filter: grayscale(1) opacity(0.4);
}

.list-group.inactive .list-group-item {
    --bs-list-group-bg: transparent;
    transition: background-color 3s;
}

