body {
    background-color: #000000;
    font-size: 170%;
    user-select: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.list-group-item {
    background-color: #111111;
    color: #ffffff;
    border: none;
}
