<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fridge Statistics Frontpage</title>

  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/fridge.css" rel="stylesheet">
  <!-- <link href="/static/laura.css" rel="stylesheet"> -->

  <script src="/static/jquery.min.js"></script>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#091d36">
</head>

<body>
  <main class="text-light">
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>

    <div class="container d-flex flex-column min-vh-100">
      <div class="row my-2">
        <div class="col-12 col-lg-6 my-3">
          <div class="list-group border border-info-subtle scrollbar" id="consumers">
          </div>
        </div>

        <div class="col-12 col-lg-6 my-3">
          <div class="list-group border border-primary-subtle" id="items">
          </div>
        </div>
      </div>

      <div class="row mt-auto mb-4">
        <div class="col">
          <button class="btn btn-primary fs-1 w-100 py-3" onclick="drink(this);" id="apply">Take a drink</button>
        </div>
      </div>
    </div>
  </main>


<script src="/static/bootstrap.bundle.min.js"></script>
<script>
var inactivity_time = 0;
var inactivity_enabled = false;
var selected_consumer = null;
var selected_item = null;
let default_consumer = 1;
let default_item = 1;

function lastlog_update(responses) {
    // clean up all values first (clear rows not affected anymore)
    $("#consumers span.badge").attr("class", "badge text-bg-dark").html("");

    // fill in new values
    for(let i in responses) {
        let response = responses[i];

        let badge = $("#prev-" + response['uid']);
        badge.html(response['drinks']);

        // quick colouring
        if(response['drinks'] > 9)
            badge.attr("class", "badge text-bg-danger");

        else if(response['drinks'] > 4)
            badge.attr("class", "badge text-bg-warning");
    }
}

function refresh_lastlog() {
    $.get("/lastlog").done(lastlog_update);
}

// inactivity screen fading
function inactivity_update() {
    inactivity_time += 1;

    if(inactivity_time > 5 && inactivity_enabled == false) {
        inactivity_enabled = true;
        $(".list-group").removeClass("fast-fade").addClass("inactive");
        $("button").removeClass("fast-fade").addClass("inactive");
    }
}

function inactivity_reset(source) {
    inactivity_time = 0;

    if(inactivity_enabled == true) {
        inactivity_enabled = false;
        $(".list-group").removeClass("inactive").addClass("fast-fade");
        $("button").removeClass("inactive").addClass("fast-fade");
    }
}

function select_consumer(source) {
    $("#consumers a").removeClass("active");

    $(source).addClass("active");

    selected_consumer = parseInt(source.dataset.id);
    return false;
}

function select_item(source) {
    $("#items a").removeClass("active");

    $(source).addClass("active");

    selected_item = parseInt(source.dataset.id);
    return false;

}

function button_reset() {
    $("#apply").html("Take a drink");
    $("#apply").removeClass("btn-success").addClass("btn-primary");
    $("#apply").prop("disabled", false);
}

function drink(sender) {
    sender.disabled = true;
    sender.innerText = "Updating statistics...";
    $(sender).removeClass("btn-primary").addClass("btn-secondary");

    $.get("/consume/" + selected_consumer + "/" + selected_item).done(function (response) {
        sender.innerText = "Have a nice drink !";
        $(sender).removeClass("btn-secondary").addClass("btn-success");
        setTimeout(button_reset, 2200);

        $("#items a").removeClass("active");
        $("#consumers a").removeClass("active");

        $("#items a:first-child").addClass("active");
        $("#consumers a:first-child").addClass("active");

        $("#prev-" + selected_consumer).html(response.recent);

        // reset to Maxux / Coca Cola
        selected_item = default_item;
        selected_consumer = default_consumer;
    });
}

$(document).ready(function() {
    // Automatic inactivity fadeout to reduce brightness, for kiosk
    if(window.innerWidth == 1024 && window.innerHeight == 600) {
        console.log("Inactivity monitor enabled");

        setInterval(inactivity_update, 1000);
        $(this).mousemove(inactivity_reset);
    }

   $.get("/info").done(function (data) {
        console.log(data);

        for(let index in data.consumers) {
            let consumer = data.consumers[index];

            var classes = "list-group-item list-group-item-action list-group-item-info" + ((consumer[0] == default_consumer) ? " active" : "");

            let options = {
                "class": classes,
                "href": "#",
                "onclick": "return select_consumer(this);",
                "data-id": consumer[0],
            };

            let link = $("<a>", options);
            let div = $("<div>", {"class": "d-flex w-100 justify-content-between align-items-center"});
            let span = $("<span>").html(consumer[1]);

            var last24 = consumer[2];
            if(consumer[2] < 1)
                last24 = "";

            let badge = $("<span>", {"class": "badge text-bg-dark", "id": "prev-" + consumer[0]}).html(last24);

            div.append(span).append(badge);
            link.append(div);

            $("#consumers").append(link);
        }

        for(let index in data.items) {
            let item = data.items[index];

            var classes = "list-group-item list-group-item-action list-group-item-primary" + ((item[0] == default_item) ? " active" : "");

            let options = {
                "class": classes,
                "href": "#",
                "onclick": "return select_item(this);",
                "data-id": item[0],
            };

            let link = $("<a>", options);
            let div = $("<div>", {"class": "d-flex w-100 justify-content-between align-items-center"});
            let span = $("<span>").html(item[1]);
            let badge = $("<small>", {"class": "badge text-bg-dark", "id": "prev-" + item[0]}).html(item[2] + " cl");

            div.append(span).append(badge);
            link.append(div);

            $("#items").append(link);
        }

        selected_consumer = default_consumer;
        selected_item = default_item;

        // FIXME: avoid doing multiple time the same things
        refresh_lastlog();
    });
});
</script>
</body>

</html>
